* {
  margin: 0;
  padding: 0;
}

.headLogo {
  margin: 15px 100px 8px;
  display: flex;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 50px;
}

.logoContainer :nth-child(1) {
  width: 100px;
  height: 45px;
}

.mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 100px 0px;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.438);
  width: 20%;
  height: 65px;
  border-radius: 10px;
  padding: 5px 15px;
}

.innerText {
  padding-bottom: 7px;
}

.rowContainer :nth-child(2) {
  font-size: 23px;
  font-weight: bolder;
}

.icons {
  color: rgb(235, 6, 6);
  font-size: 15px;
}

.iconGreen {
  color: rgb(50, 184, 9);
  font-size: 15px;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 100px 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}

table:nth-child(even) {
  background-color: #f2f2f2;
}

.innerTable {
  width: 78vw;
  margin-right: 2vw;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.438);
  width: 150px;
  height: 135px;
  border-radius: 10px;
  padding: 5px 15px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
